* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.buttons {
  font-family: sans-serif;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
}
.btn__box {
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.btn__box--1 {
  background-color: yellow;
}
.btn__box--2 {
  background-color: rgb(248, 152, 7);
}
.btn__box--3 {
  background-color: rgb(255, 0, 13);
}
.btn__box--4 {
  background-color: rgb(255, 0, 200);
}
.btn__box--5 {
  background-color: rgb(0, 225, 255);
}
.btn__box--6 {
  background-color: rgb(0, 255, 0);
}
.btn__box--7 {
  background-color: rgb(55, 0, 255);
}
.btn__box--8 {
  background-color: rgb(0, 255, 115);
}
.btn__box--9 {
  background-color: rgb(208, 255, 0);
}
.btn {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  color: #fff;
  border: 0.3rem solid #fff;
  cursor: pointer;
  background: none;
}
.btn__box__info {
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.btn__1 {
  animation: btn-1 0.3s infinite;
  animation-direction: alternate-reverse;
}
@keyframes btn-1 {
  /* 0% {
    transform: rotate(0);
  } */
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
  /* 100% {
    transform: rotate(0);
  } */
}
.btn__1:hover {
  animation: pulsing 0.3s infinite;
  animation-timing-function: ease-in-out;
}
@keyframes pulsing {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* .btn__2 {
  animation: btn-2 2s infinite;
}
@keyframes btn-2 {
  0% {
    box-shadow: 0 0 0 #fff;
  }
  30% {
    box-shadow: 0 0 2rem #fff;
  }
  80% {
    box-shadow: 0 0 8rem rgb(255, 255, 255);
  }
} */

/* .slider_text {
  position: absolute;
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;
  color: #fff;
  top: 13rem;
  width: 20rem; */
