@charset "UTF-8";
/**
 * Mixin to put items on a circle
 * [1] - Allows children to be absolutely positioned
 * [2] - Allows the mixin to be used on a list
 * [3] - In case box-sizing: border-box has been enabled
 * [4] - Allows any type of direct children to be targeted
 */
body {
  background: #ececec; }

.loaders {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%; }

.loaders-wrapper {
  position: relative;
  /* [1] */
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  box-sizing: content-box;
  /* [3] */
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 0; }
  .loaders-wrapper > * {
    /* [4] */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -15px; }
    .loaders-wrapper > *:nth-of-type(1) {
      transform: rotate(0deg) translate(75px) rotate(-0deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(2) {
      transform: rotate(45deg) translate(75px) rotate(-45deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(3) {
      transform: rotate(90deg) translate(75px) rotate(-90deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(4) {
      transform: rotate(135deg) translate(75px) rotate(-135deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(5) {
      transform: rotate(180deg) translate(75px) rotate(-180deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(6) {
      transform: rotate(225deg) translate(75px) rotate(-225deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(7) {
      transform: rotate(270deg) translate(75px) rotate(-270deg) scale(1); }
    .loaders-wrapper > *:nth-of-type(8) {
      transform: rotate(315deg) translate(75px) rotate(-315deg) scale(1); }
  .loaders-wrapper > *:nth-child(1) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 1.2s infinite reverse; }
  .loaders-wrapper > *:nth-child(2) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 2.4s infinite reverse; }
  .loaders-wrapper > *:nth-child(3) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 3.6s infinite reverse; }
  .loaders-wrapper > *:nth-child(4) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 4.8s infinite reverse; }
  .loaders-wrapper > *:nth-child(5) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 6s infinite reverse; }
  .loaders-wrapper > *:nth-child(6) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 7.2s infinite reverse; }
  .loaders-wrapper > *:nth-child(7) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 8.4s infinite reverse; }
  .loaders-wrapper > *:nth-child(8) {
    animation-fill-mode: none;
    animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s alternate, changeIndex 0.2s linear 9.6s infinite reverse; }

.loader {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 30px; }
  .loader:nth-child(1) {
    background: #886477; }
  .loader:nth-child(2) {
    background: #49dad6; }
  .loader:nth-child(3) {
    background: #9bd7cd; }
  .loader:nth-child(4) {
    background: #979588; }
  .loader:nth-child(5) {
    background: #8e614d; }
  .loader:nth-child(6) {
    background: #f4a53f; }
  .loader:nth-child(7) {
    background: #4e9cc5; }
  .loader:nth-child(8) {
    background: #804000; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes dotDance {
  0% {
    transform: translate(0%) scale(4); } }

@keyframes changeIndex {
  0%,
  100% {
    z-index: 2; } }

.btn__3:hover {
  position: relative;
  border: none;
  animation: hover-3 0.2s infinite; }

@keyframes hover-3 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.btn__box--5 {
  position: relative; }

.btn__5::before {
  content: "👇";
  position: absolute;
  top: 1rem;
  right: 20rem;
  font-size: 5rem;
  animation: pulsing-5 0.4s linear infinite;
  animation-direction: alternate; }

@keyframes pulsing-5 {
  from {
    top: 1rem; }
  to {
    top: -1rem; } }

.btn__5:hover::after {
  content: "👆";
  position: absolute;
  font-size: 3.5rem;
  top: 13rem;
  left: 27rem;
  transform: rotate(-15deg);
  animation: hand-1 0.3s linear forwards; }

@keyframes hand-1 {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    top: 11rem;
    left: 26rem; } }

.btn__5:hover span::after {
  content: "👆";
  position: absolute;
  font-size: 3.5rem;
  top: 5rem;
  left: 14rem;
  transform: rotate(120deg);
  animation: hand-2 0.3s linear forwards; }

@keyframes hand-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    top: 6rem;
    left: 16rem; } }

.btn__box--6 {
  position: relative; }

.btn_6-1 {
  position: absolute;
  font-size: 2rem;
  top: 7rem;
  left: 20rem;
  animation: sticker-1 1.5s infinite alternate-reverse;
  animation-delay: 0.2s; }

.btn_6-2 {
  position: absolute;
  font-size: 2rem;
  top: 7rem;
  left: 24rem;
  animation: sticker-2 1.5s infinite alternate-reverse;
  animation-delay: 0.5s; }

.btn_6-3 {
  position: absolute;
  font-size: 2rem;
  top: 7rem;
  left: 28rem;
  animation: sticker-3 1.5s infinite alternate-reverse;
  animation-delay: 0.8s; }

@keyframes sticker-1 {
  from {
    top: 7rem; }
  to {
    top: 3rem; } }

@keyframes sticker-2 {
  from {
    top: 7rem; }
  to {
    top: 3rem; } }

@keyframes sticker-3 {
  from {
    top: 7rem; }
  to {
    top: 3rem; } }

.btn__6 {
  z-index: 1;
  background-color: lime; }
  .btn__6:hover .btn_6-1,
  .btn__6:hover .btn_6-2,
  .btn__6:hover .btn_6-3 {
    animation-play-state: paused; }

.btn_6-4,
.btn_6-5,
.btn_6-6 {
  position: absolute;
  font-size: 2rem;
  top: 7rem; }

.btn_6-4 {
  left: 20rem; }

.btn_6-5 {
  left: 24rem; }

.btn_6-6 {
  left: 28rem; }

.btn__6:hover .btn_6-4 {
  position: absolute;
  animation: sticker_hover 1.4s infinite alternate-reverse;
  animation-delay: 0.2s; }

.btn__6:hover .btn_6-5 {
  position: absolute;
  animation: sticker_hover 1.4s infinite alternate-reverse;
  animation-delay: 0.4s; }

.btn__6:hover .btn_6-6 {
  position: absolute;
  animation: sticker_hover 1.4s infinite alternate-reverse;
  animation-delay: 0.6s; }

@keyframes sticker_hover {
  from {
    top: 7rem; }
  to {
    top: 3rem; } }

.btn__8 {
  border: none;
  animation: btn-8 2s infinite linear alternate-reverse; }

@keyframes btn-8 {
  0% {
    transform: scale(1);
    background-color: #1164a6; }
  25% {
    background-color: #40a722; }
  50% {
    background-color: #f1d613; }
  75% {
    background-color: aqua; }
  100% {
    background-color: #9c398b;
    transform: scale(1.2); } }

.btn__box--8 {
  position: relative; }

.btn__8:hover span::before {
  content: "🌈";
  position: absolute;
  top: -4rem;
  left: 2rem;
  font-size: 2.5rem;
  animation: rainbow 0.1s infinite linear alternate-reverse; }

@keyframes rainbow {
  0% { }
  25% {
    top: -5rem;
    left: 3.5rem;
    transform: rotate(22.5deg); }
  50% {
    top: -5.5rem;
    left: 5rem;
    transform: rotate(45deg); }
  75% {
    top: -5rem;
    left: 6.5rem;
    transform: rotate(95deg); }
  100% {
    top: -4rem;
    left: 8rem;
    transform: rotate(120deg); } }

.btn__box--7 {
  position: relative; }

[class^="btn__7-"] {
  position: absolute;
  color: #fff;
  font-size: 2rem; }

.btn__7-1 {
  top: 6rem;
  left: 13rem;
  transform: rotate(-25deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0s;
  animation-name: span-anim; }

.btn__7-2 {
  top: 1rem;
  left: 18rem;
  transform: rotate(15deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0.3s;
  animation-name: span-anim; }

.btn__7-3 {
  top: 1.5rem;
  left: 26rem;
  transform: rotate(-15deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0s;
  animation-name: span-anim; }

.btn__7-4 {
  top: 3.5rem;
  left: 32rem;
  transform: rotate(15deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0.3s;
  animation-name: span-anim; }

.btn__7-5 {
  top: 13rem;
  left: 21rem;
  transform: rotate(-15deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0s;
  animation-name: span-anim; }

.btn__7-6 {
  top: 13rem;
  left: 28rem;
  transform: rotate(15deg);
  animation: 0.6s infinite linear alternate-reverse;
  animation-delay: 0.3s;
  animation-name: span-anim; }

@keyframes span-anim {
  from { }
  to {
    z-index: -2; } }

.btn__box--4 {
  position: relative; }

.btn__4:hover::before {
  content: "OMG YAS";
  position: absolute;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  top: 5rem;
  left: 23rem;
  animation: btn__4-hover 1s linear forwards; }

@keyframes btn__4-hover {
  0% { }
  95% {
    opacity: 1; }
  100% {
    top: 0rem;
    opacity: 0; } }

.btn__2 {
  position: relative;
  background-color: #f89807;
  z-index: 1; }
  .btn__2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 2.5rem;
    animation: btn__2-anim 1s infinite linear; }
  .btn__2:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
    border-radius: 2.5rem;
    animation: btn__2-hover 0.2s infinite linear; }

@keyframes btn__2-anim {
  0% { }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

@keyframes btn__2-hover {
  0% { }
  100% {
    transform: scale(1.7);
    opacity: 0; } }

.menu__2 {
  width: 6rem;
  margin: 2rem auto; }

.menu__2--row-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0; }
  .menu__2--row-box :not(:first-child) {
    border-radius: 0 0.5rem 0.5rem 0; }
  .menu__2--row-box :not(:last-child) {
    border-radius: 0.5rem 0 0 0.5rem; }

.menu__2-line {
  height: 0.8rem;
  width: 3rem;
  background-color: #fc7405; }

.menu__2-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .menu__2-box:hover {
    cursor: pointer; }
    .menu__2-box:hover .menu__line--1 {
      animation: line-1 0.4s forwards linear; }
    .menu__2-box:hover .menu__line--2 {
      animation: line-2 0.4s forwards linear; }
    .menu__2-box:hover .menu__line--3 {
      animation: line-3 0.4s forwards linear; }
    .menu__2-box:hover .menu__line--4 {
      animation: line-4 0.4s forwards linear; }
    .menu__2-box:hover .menu__line--5 {
      animation: line-5 0.4s forwards linear; }
    .menu__2-box:hover .menu__line--6 {
      animation: line-6 0.4s forwards linear; }

@keyframes line-1 {
  from { }
  to {
    transform: rotate(45deg) translateY(1rem) translateX(1rem); } }

@keyframes line-2 {
  from { }
  to {
    transform: rotate(-45deg) translateY(0.4rem) translateX(-1.8rem); } }

@keyframes line-3 {
  from { }
  to {
    transform: translateX(-2rem);
    opacity: 0; } }

@keyframes line-4 {
  from { }
  to {
    transform: translateX(2rem);
    opacity: 0; } }

@keyframes line-5 {
  from { }
  to {
    transform: rotate(-45deg); } }

@keyframes line-6 {
  from { }
  to {
    transform: rotate(45deg) translateY(0.6rem) translateX(-1rem); } }
